__pycache__
build/
*.egg-info
.vscode/
data/
output/
*.zip
TIGRE*
volume_processed/
volume_raw
FIPS_raw
FIPS_processed
other_scripts
model/
data/
*.whl
/*.png
r2_gaussian/submodules/simple-knn
*.pickle
nohup.out
logs/
node_modules/
.claude/mcp.json
init_files/
init_files_30k/